<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>More-recipe home</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
    <!-- Custom styles and script for this template -->
    <link href="css/index.css" rel="stylesheet">
	<script src="js/myjs.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script src="js/jquery/jquery.min.js"></script> 
    <script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/jquery/popper.js"></script>
</head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navbar">
      <div class="container">
        <a class="navbar-brand" href="#">More-recipe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="signup.html">SignUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Login </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile.html">profile</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="dashbored.html">Dashbored</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="favorite.html">Favorites</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
<div class="container">

      <div class="row">
        <div class="col-md-9">

          <h1 class="my-4" align="center">Details of a recipe
          </h1>
          <div class="card mb-4">
            
            <div class="card-body">
			  <h2 class="card-title">Salad Rice Recipe</h2>
			  <img class="card-img-top rounded-circle" src="image/f.jpg" alt="Recipe Image">
              <p class="card-text text-justify">Salad rice is very delicious and sumptous.I love
			  Salad rice and i can eat it for days.The recipes of salad rice include
			  rice, meat, vegetables, onions, pepper, okro,tomatoes,groundnut oil,vegetable oil
			  Preparation of salad involvesw the frying of tomatoes first with groundnut oil and 
			  adding various ingredient such as pepper, okro.
			  Salad rice is very delicious and sumptous.I love
			  Salad rice and i can eat it for days.The recipes of salad rice include
			  rice, meat, vegetables, onions, pepper, okro,tomatoes,groundnut oil,vegetable oil
			  Preparation of salad involvesw the frying of tomatoes first with groundnut oil and 
			  adding various ingredient such as pepper, okro.
			  Salad rice is very delicious and sumptous.I love
			  Salad rice and i can eat it for days.The recipes of salad rice include
			  rice, meat, vegetables, onions, pepper, okro,tomatoes,groundnut oil,vegetable oil
			  Preparation of salad involvesw the frying of tomatoes first with groundnut oil and 
			  adding various ingredient such as pepper, okro.
			  
			  </p>            
            </div>
            <div class="card-footer text-muted">
              Posted on Sept 23, 2017 by
              <a href="#">@kelvin</a>
			  <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" id="up">upvote</button>
				  <i class="icon-circle-arrow-down"></i>
				  <input class="btn btn-secondary" type="button" style="background-color:white;color:black;" value="8" id="upvote">
				  <button class="btn btn-secondary" type="button" id="down">downvote</button>
				  <input class="btn btn-secondary" type="button" style="background-color:white;color:black;" value="1" id="downvote">
                </span>
				
            </div>
          </div>

        </div>
		<div class="col-md-3">
          <div class="card my-4">
            <h5 class="card-header">Popular Links</h5>
            <div class="card-body">
              <div class="row">      
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Salad recipes</a>
                    </li>
                    <li>
                      <a href="#">Rice recipes</a>
                    </li>
                    <li>
                      <a href="#">All recipes</a>
                    </li>
					<li>
                      <a href="#">Ogbono recipes</a>
                    </li>
                  </ul>               
              </div>
            </div>
          </div>
		  <div class="card my-4">
            <h5 class="card-header">Links</h5>
            <div class="card-body">
              <div class="row">      
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="index.html">Home</a>
                    </li>
                    <li>
                      <a href="home.html">Logout</a>
                    </li>
                    <li>
                      <a href="profile.html">Profile</a>
                    </li>
					<li>
                      <a href="dashbored.html">Add or modify</a>
                    </li>
					<li>
                      <a href="dashbored.html">Delete recipes</a>
                    </li>
                  </ul>               
              </div>
            </div>
          </div>
        </div>
	  </div>
	  <div class="row">
		  <div class="col-md-9">
          <div class="card my-4">
            <h5 class="card-header">Provide reviews</h5>
            <div class="card-body">
              <form action="/review">         
                <fieldset class="form-group">
                 <label for="message">Message</label>
			     <textarea class="form-control" id="message" name="message" rows="10"> </textarea>
                 </fieldset>          
                 <button type="submit" class="btn btn-default" style="background-color:lightseagreen; color:white;">Review</button>
              </form>
            </div>
          </div>
		  <h1 class="my-4" align="center">1 Review</h1>
		  <div class="card my-4">           
            <div class="card-body">
              <p class="card-text text-justify">Salad rice is very delicious and sumptous.I love
			  Salad rice and i can eat it for days.The recipes of salad rice include
			  rice, meat, vegetables, onions, pepper, okro,tomatoes,groundnut oil,vegetable oil
			  Preparation of salad involvesw the frying of tomatoes first with groundnut oil and 
			  adding various ingredient such as pepper, okro.
			  </p>
            </div>
			<div class="card-footer text-muted">
              Reviewed on Sept 24, 2017 by
              <a href="#">@kelvin</a>
			</div>
          </div>
        </div>
	  </div>
    </div>

    
	  
<div class="row" id="socialmedia">
    <div class="col-3 col-sm-3 col-md-3 text-center">
      <a href="https://www.facebook.com/kelvin/?skip_nax_wizard=true" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="col-3 col-sm-3 col-md-3 text-center">
      <a href="https://twitter.com/kelvin" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="col-3 col-sm-3 col-md-3 text-center">
      <a href="https://www.freecodecamp.com" target="_blank"><i class="fa fa-free-code-camp"></i></a>
    </div>
   <div class="col-3 col-sm-3 col-md-3 text-center">
      <a href=#><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
  </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; More-recipes 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    
<script type="text/javascript">

$(".g").click(function(){
$("#img").hide();})

	    
	
</script>


    
	
	
  </body>
</html>
