<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>More-recipe home</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/glyphicons.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles and script for this template -->
    <link href="css/index.css" rel="stylesheet">
	<script src="js/myjs.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script src="js/jquery/jquery.min.js"></script> 
    <script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/jquery/popper.js"></script>
</head>

  <body>
    <div class="row" id="top-back">
       <div class="col-1">
       </div>
       <div class="col-10">  
          <img src="image/v.jpg" class="img-fluid" id="img">
       </div>
       <div class="col-1">
       </div>
  </div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
      <div class="container">
        <a class="navbar-brand" href="#">More-recipe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="signup.html">SignUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Login </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile.html">profile</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="dashbored.html">Dashbored</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="favorite.html">Favorites</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
<div class="container">

      <div class="row">
        <div class="col-md-8">
            <div class="card my-4">
            <h5 class="card-header">Search recipes</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="enter keyword">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Search</button>
                </span>
              </div>
            </div>
          </div>
          <h1 class="my-4" style="background-color:lightseagreen; color:white;"align="center">
		     All Available Recipes
          </h1>
          <div class="card mb-4">
            
            <div class="card-body">
			  <h2 class="card-title">Salad Rice Recipe</h2>
			  <img class="card-img-top rounded-circle" src="image/a.jpg" alt="Recipe Image">
              <p class="card-text">Salad rice is very delicious and sumptous.I love
			  Salad rice and i can eat it for days.The recipes of salad rice include</p>
              <a href="detail.html" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on Sept 21, 2017 by
              <a href="#">@keny</a>
            </div>
          </div>

           <div class="card mb-4">
            
            <div class="card-body">
			  <h2 class="card-title">Salad Rice Recipe</h2>
			  <img class="card-img-top rounded-circle" src="image/c.jpg" alt="Recipe Image">
              <p class="card-text">Salad rice is very delicious and sumptous.I love
			  Salad rice and i can eat it for days.The recipes of salad rice include</p>
              <a href="detail.html" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on Sept 21, 2017 by
              <a href="#">@keny</a>
            </div>
          </div>

           <div class="card mb-4">
            
            <div class="card-body">
			  <h2 class="card-title">Salad Rice Recipe</h2>
			  <img class="card-img-top rounded-circle" src="image/g.jpg" alt="Recipe Image">
              <p class="card-text">Salad rice is very delicious and sumptous.I love
			  Salad rice and i can eat it for days.The recipes of salad rice include</p>
              <a href="detail.html" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on Sept 21, 2017 by
              <a href="#">@keny</a>
            </div>
          </div>

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>

        </div>

        <!--  Sidebar -->
        <div class="col-md-4">
          <div class="card my-4">
            <h5 class="card-header">Important links</h5>
            <div class="card-body">
              <div class="row">      
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="favorite.html">My favorite recipes</a>
                    </li>
                    <li>
                      <a href="login.html">Login</a>
                    </li>
                    <li>
                      <a href="signup.html">Sign UP</a>
                    </li>
					<li>
                      <a href="profile.html">My profile</a>
                    </li>
                  </ul>               
              </div>
            </div>
          </div>
          <!-- favorite recipes -->
          <div class="card my-4">
            <h5 class="card-header">Popular/most favorite recipes</h5>
            <div class="card-body">
              <div class="row">      
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Salad recipes</a>
                    </li>
                    <li>
                      <a href="#">Rice recipes</a>
                    </li>
                    <li>
                      <a href="#">Pounded yam recipe</a>
                    </li>
					<li>
                      <a href="#">Ogbono recipes</a>
                    </li>
                  </ul>               
              </div>
            </div>
          </div>
        </div>
      </div>

    
	  
<div class="row" id="socialmedia">
    <div class="col-3 col-sm-3 col-md-3 text-center">
      <a href="https://www.facebook.com/kelvin/?skip_nax_wizard=true" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="col-3 col-sm-3 col-md-3 text-center">
      <a href="https://twitter.com/kelvin" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="col-3 col-sm-3 col-md-3 text-center">
      <a href="https://www.freecodecamp.com" target="_blank"><i class="fa fa-free-code-camp"></i></a>
    </div>
   <div class="col-3 col-sm-3 col-md-3 text-center">
      <a href=#><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
  </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; More-recipes 2017</p>
      </div>
    </footer>

    
<script type="text/javascript">
 //echo('here i am');
$(document).ready(function(){
	
var navpos = $("#navbar").offset().top;
	$(window).scroll(function(){
		//echo("here");
		var windpos = $(window).scrollTop();
		if (windpos>navpos){
			$("#navbar").addClass("fixed-top");
		}else{
			$("#navbar").removeClass("fixed-top");
		}
	})
});

	    
	
</script>


    
	
	
  </body>
</html>
