#regcontainer{
    background-image: url("../../image/ad.jpg")
  }
  .register{
    -moz-box-shadow: 5px 5px 5px 5px #272626;
    -webkit-box-shadow: 5px 5px 5px 5px #dfd5d5;
    box-shadow: 5px 5px 5px 5px #2c7070;} 