.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color:white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#recipelist{
width: 33.3333333333333333333%;
float: left;

}
#bg {
	background-image: url('ac.jpg');
	
}
#bh {
	background-image: url('ad.jpg');
	
}
