
  
@media screen and (min-width: 30.9em) and (max-width: 35.9em) { 
  .ig-flud{
       height: 14rem;
       width: 14rem;
   }
   #upvoted-image{
     height: 4rem;
   }
}
@media screen and (min-width: 10.9em) and (max-width: 30.9em) { 
    .ig-flud{
         height: 6rem;
         width: 3rem;
     } 
     #upvoted-image{
      height: 2rem;
    }
 
}
@media only screen and (min-width: 35.9em) {
  .ig-flud{
    height: 8rem;
    width: 8rem;
}
#upvoted-image{
  height: 8rem;
}
}



  #App-logo {
    animation: App-logo-spin infinite 20s linear;
   
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  #recipelist{
  width: 33.3333333333333333333%;
  float: left;
  
  }

#bh{
  background-image: url("../../image/ad.jpg")
}
.carousel-img{
  height: 70vh;
  width:100%;
}
.bg-container{
 background-color: aquamarine;
  
}
#show{
  display:none;
}
.landing{
  color: rgb(235, 197, 197);
  top:16%;
  
  left:30%;
  right:25%;
  position: fixed;
 width:50%;
 bottom: 10%;
 height: auto;
  z-index: 1000;

  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  
  background-color: rgb(12, 9, 9);
}
#bg-all{
  background-color: gray;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
.carousel-caption{
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container{
  min-width: 100%;
}